## AWS Spot Price Add-on Price Analysis

Alex

Created on: 04/26/2021

In [1]:
import datetime as dt

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import warnings

data = pd.read_csv("../input/aws-spot-price-15th-feb16th-april-2021/us-east-1_Feb15-Apr16.csv")
data['Timestamp'] = pd.to_datetime(data['Timestamp'], format = '%Y-%m-%d %H:%M:%S.%f')
data=data.groupby(['AvailabilityZone','InstanceType','ProductDescription'],as_index=False)['SpotPrice'].min()
data=data.pivot(index=['AvailabilityZone','InstanceType'],columns=['ProductDescription'])
data.columns=[x[1] for x in data.columns]
data.drop('Windows',axis=1,inplace=True)

print(data.shape)
data.head()

(1860, 3)

                               Linux/UNIX  Red Hat Enterprise Linux  \
AvailabilityZone InstanceType
us-east-1a       a1.2xlarge        0.0671                    0.1971
                 a1.4xlarge        0.1343                    0.2643
                 a1.large          0.0168                    0.0768
                 a1.medium         0.0084                    0.0684
                 a1.metal          0.1343                    0.2643

                               SUSE Linux
AvailabilityZone InstanceType
us-east-1a       a1.2xlarge        0.2171
                 a1.4xlarge        0.2843
                 a1.large          0.0798
                 a1.medium         0.0394
                 a1.metal          0.2843

In [2]:
res=pd.DataFrame(data['SUSE Linux']-data['Linux/UNIX'],columns=['SUSE_Linux_price_diff']).reset_index()
res.to_csv('SUSE_Linux_price_diff.csv',index=False)
res

     AvailabilityZone InstanceType  SUSE_Linux_price_diff
0          us-east-1a   a1.2xlarge                  0.150
1          us-east-1a   a1.4xlarge                  0.150
2          us-east-1a     a1.large                  0.063
3          us-east-1a    a1.medium                  0.031
4          us-east-1a     a1.metal                  0.150
...               ...          ...                    ...
1855       us-east-1f  z1d.3xlarge                  0.150
1856       us-east-1f  z1d.6xlarge                  0.150
1857       us-east-1f    z1d.large                  0.063
1858       us-east-1f    z1d.metal                  0.150
1859       us-east-1f   z1d.xlarge                  0.125

[1860 rows x 3 columns]